body {
    background-image: url("../images/background.jpg");
}

#header1 {
    background-color:hsla(24, 85%, 45%, 1);
    color: white;
    width: 25%;
    padding-left: 50px;
    margin-left: 10px;
    padding:10px;
    margin-bottom:5px;
    font-size: 32px;
    text-align: center;
}


#instructions {
    background-color: #FFEBCD;
    width: 50%;
    color: green;
    margin-left: 10px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 14pt;
}

/* block is the parent div while #ntg and #score are child**/
.block {
    display:flex;
    align-items: left;
    align-items: flex-start;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.numberToMatch {
    background-color: hsla(120, 45%, 45%, 1);
    width: 50%;
    margin-left: 10px;
    font-size: 20pt;
    padding-left: 5px;
    padding-bottom: 5px;
    align-content: center;
    height: 100px;
    float: left;
}

.score {
    background-color: #00FFFF;
    margin-left: 10px;
    padding-left: 5px;
    width: 30%;
    display: inline-block;
    font-size: 14pt;
    position: relative;
    padding-bottom: 5px;
    height: 100px;
   
}
.crystal { 
    margin-bottom:10px;
    margin-left: 10px;
}


#total {
    background-color:hsla(170, 85%, 35%, 1);
    margin-left: 10px;
    margin-bottom: 5px;
    width: 25%;
    color: white;
    padding: 5px;
    font-size: 14pt;
    
}

#yourScore {
    margin-top: -30px;
    background-color:hsla(170, 85%, 35%, 1);
    margin-left: 10px;
    margin-bottom: 10px;
    width: 25%;
    font-size: 32pt;
    color: white;
    padding-bottom: 50px;
    padding-left: 5px;
}